<form action="/user/create" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="user_name" placeholder="ID" > <br>
    <input type="password" name="password" placeholder="비밀번호"> <br>
    <input type="submit" value="회원가입">
</form>